.button {
  height: 60px;
  border-radius: 10px;
  border: 0;
  margin: 20px 0 20px 0;
  padding: 0 10px 0 10px;
  border-color: #3498db;
  background-color: #3498db;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.4s ease;
}

.button:hover {
  background-color: #237db9;
}

.button:disabled,
.button[disabled] {
  opacity: 0.5;
  background-color: #237db9;
  cursor: not-allowed;
}
