* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.defaultBackground {
  background: linear-gradient(rgb(218, 226, 248), rgb(214, 164, 164));
}
