* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.defaultBackground {
  background: linear-gradient(to right, rgb(218, 226, 248), rgb(214, 164, 164));
}

#bug {
  background: #f6d6a7;
}
#poison {
  background: #e0a7f6;
}
#normal {
  background: #f4f4f4;
}

#fire {
  background: #f0998a;
}
#grass {
  background: #ccfccb;
}
#water {
  background: #a0d5fc;
}

#ground {
  background: #593636;
}

#fighting {
  background: #8c864c;
}
#ghost {
  background: #e2e7d8;
}
#psychic {
  background: #8d44b8;
}
#ice {
  background: #6acacf;
}
#dragon {
  background: #163e41;
}
#rock {
  background: rgb(148, 81, 81);
}
#electric {
  background: rgb(253, 253, 154);
}
#fairy {
  background: rgba(255, 192, 203, 0.863);
}
#dark {
  background: rgba(66, 66, 66, 0.863);
}
#steel {
  background: rgba(134, 134, 134, 0.863);
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
}
