.card {
  height: 400px;
  width: 400px;
  max-width: 90%;
  padding: 13px;
  background-color: #fff;
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 6%);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
